header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: purple;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: green;
}

article {
    background-color: crimson;
    color: white;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
}

aside {
    background-color: navy;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1rem;
}
